build
.cproject
.project
.pydevproject
.sconsign.dblite
*.o
*.exe
.settings
*.pyc
third_party
gtest/models
*ipynb*
*.onnx
*.raw
tmp
download
lwnn_gtest
*.so
*.so.*
*.png
*.jpg
*.pyd
*.dll
*.asc
*.txt
graphs
*.sh
*.log


